<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #about-static-resources},
                                                ~{:: #about-header},
                                                ~{:: #about-nav},
                                                ~{:: #about-main-content},  
                                                ~{:: #about-footer}
                                               )}">

<head>
<title>Title of Category Page</title>

<th:block id="about-static-resources">

	<script type="text/javascript" src="../static/about.js"
		th:src="@{/about.js}"></script>

</th:block>

</head>
<body>

	<div id="about-header">Category Page</div>

	<div id="about-nav"
		th:replace="~{/fragments/app-fragments :: nav-default}">Nav</div>

	<div id="about-main-content">


		<form action="#" th:action="@{/category}" th:object="${category}"
			method="post">
			<p>
				Category Name: <input type="text" th:field="*{name}" />
			</p>
		
			<p class="alert alert-danger" 
			th:if="${#fields.errors('name')}" 
			th:errors="*{name}"></p>
			
			<p>
				<input type="submit" value="Submit" /> <input type="reset"
					value="Reset" />
			</p>
		</form>

	</div>


	<div id="about-footer"
		th:replace="~{/fragments/app-fragments :: copyright}">Footer</div>


</body>
</html>