<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #about-static-resources},
                                                ~{:: #about-header},
                                                ~{:: #about-nav},
                                                ~{:: #about-main-content},  
                                                ~{:: #about-footer}
                                               )}">

<head>
 <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<title>Title of Category Page</title>

<th:block id="about-static-resources">

	<script type="text/javascript" src="../static/about.js"
		th:src="@{/about.js}"></script>

</th:block>
  

</head>
<body>

	<div id="about-header">Category Page</div>

	<div id="about-nav"
		th:replace="~{/fragments/app-fragments :: nav-default}">Nav</div>

	<div id="about-main-content" class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th> Category ID </th>
            <th> Category Name </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="book : ${categories}">
            <td><span th:text="${book.id}"> Title </span></td>
            <td><span th:text="${book.name}"> Author </span></td>
        </tr>
    </tbody>
</table>
<br>
<!--  
<a href="#" th:href="@{/category}" class="btn btn-primary">Add Category</a>
-->
	</div>


	<div id="about-footer" th:replace="~{/fragments/app-fragments :: copyright}">Footer</div>
</body>
</html>